{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "app/build/libs/app.jar"
          }
        ]
      }
    ],
    [
      "@google/semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": [
              "Dockerfile"
            ],
            "from": "ghcr.io/codingpot/github-org-member-manage-action:.*",
            "to": "ghcr.io/codingpot/github-org-member-manage-action:${nextRelease.version.split('.')[0]}"
          },
          {
            "files": [
              "README.md"
            ],
            "from": "\"codingpot/github-org-member-manage-action@v.*\"",
            "to": "\"codingpot/github-org-member-manage-action@v${nextRelease.version.split('.')[0]}\""
          }
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "Dockerfile",
          "README.md"
        ]
      }
    ]
  ]
}
